html {
    scroll-behavior: smooth;
}

.bg-image {
    background-image: url('https://source.unsplash.com/1200x800/?wedding');
    background-size: cover;
    background-position: center;
}

#home {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Volle Höhe des Viewports */
    transition: background-image 1s ease-in-out; /* Sanfter Übergang */
}

#header-title {
    font-family: "Dancing Script", serif;
    font-weight: 600;
    color: #a97caa;
}