html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* Zentriert den Inhalt */
}

/* Allgemeine Styles */
#home {
    background-image: url('images/km_beach.JPG'); /* Pfad zu deinem Bild */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center; /* Bild bleibt immer zentriert */
    background-attachment: fixed; /* Bild bleibt beim Scrollen an der Position */
}

/* Optionale allgemeine Anpassungen für andere Sektionen */

/* Wenn du einen Rahmen oder spezielle Stile für andere Sektionen möchtest */
#einladung, #einladung2, #location, #rueckmeldung, #kontakt {
    border: 20px solid; /* Beispiel für einen rahmen */
    padding: 20px;
}

#header-title {
    font-family: "Dancing Script", serif;
    font-weight: 600;
    color: #a97caa;
}

.heading {
    font-family: "Dancing Script", serif;
    font-weight: 600;
    color: #a97caa;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-content {
        text-align: center;
    }

.link {
    text-decoration: none;
    color: #a97caa;
}

.link:hover, .link:visited {
    color: #654a66;
}

.button-purple {
    background-color: #a97caa !important;
    border: 1px solid #a97caa !important;
    color: white !important;
    width: 100%;
    font-weight: 600 !important;
}

.button-purple:hover {
    background-color: #654a66 !important;
    border: 1px solid #654a66 !important;
}

/* Zwei Bilder in den Ecken der Sektion */
.einladung {
    position: relative;
    padding: 40px;
    border-radius: 15px;
}


/* Bild in der unteren rechten Ecke */
.einladung::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px; /* Größe des Bildes */
    height: 100px;
    background-image: url('images/kisspng-wedding-invitation-vector-graphics-bird-clip-art-5c024d93e13a80.1039538415436548039225.png'); /* Spezielles Bild für die rechte Ecke */
    background-size: cover;
}

.text-style {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Dancing Script", serif;
    color: #212529;
}

/* Styles für mobile Geräte */
@media screen and (max-width: 768px) {
    #home {
        height: 100vh; /* Setzt die Höhe der Sektion auf die Höhe des Viewports */
        background-position: center center; /* Sicherstellen, dass das Bild zentriert bleibt */
        background-size: cover;
    }

    #home .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Zentriert den Inhalt sowohl horizontal als auch vertikal */
        color: white; /* Weißer Text für besseren Kontrast */
        text-align: center;
        z-index: 2; /* Stellt sicher, dass der Text über dem Bild ist */
    }
}