html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

#home {
    background-image: url('images/DSCF33992.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-attachment: fixed;
}

.scrolling-bg {
    background-image: url('images/1_sep_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

#einladung, #location, #rueckmeldung {
    border-top: 20px solid;
    padding: 20px;
}

.title {
    font-family: "Dancing Script", serif;
    font-weight: 600;
    font-size: 3.5rem;
    color: white;
}

.sub-title {
    font-family: "Dancing Script", serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.header-title {
    font-family: "Dancing Script", serif;
    font-weight: 600;
    color: #a97caa !important;
}

.heading {
    font-family: "Dancing Script", serif;
    font-weight: 600;
    color: #a97caa;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-content {
        text-align: center;
    }

.link {
    text-decoration: none;
    color: #a97caa;
}

.link:hover, .link:visited {
    color: #654a66;
}

.button-purple {
    background-color: #a97caa !important;
    border: 1px solid #a97caa !important;
    color: white !important;
    width: 100%;
    font-weight: 600 !important;
}

.button-purple:hover {
    background-color: #654a66 !important;
    border: 1px solid #654a66 !important;
}

.text-style {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Dancing Script", serif;
    color: #212529;
}

/* Styles für mobile Geräte */
@media screen and (max-width: 768px) {
    #home {
        height: 100vh; /* Setzt die Höhe der Sektion auf die Höhe des Viewports */
        background-size: cover;
        width: 100%;
        max-width: 100%;
    }

    .scrolling-bg {
        width: 100%;
        max-width: 100%;
    }

    #home .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Zentriert den Inhalt sowohl horizontal als auch vertikal */
        color: white; /* Weißer Text für besseren Kontrast */
        text-align: center;
        z-index: 2; /* Stellt sicher, dass der Text über dem Bild ist */
    }
}